{% include 'db_head.html' %}
 {% load static %} 
    <section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image: url({% static 'images/5.jpg' %});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-md-12 ftco-animate text-center">
	          <h1 class="mb-2">Privacy Search Engine</h1>
	              <p><a href="{% url 'user_login'  %}" class="btn btn-primary">Search Nearby</a></p>
	            </div>

	          </div>
	        </div>
	      </div>

	      <div class="slider-item" style="background-image: url({% static 'images/3.jpg' %});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-sm-12 ftco-animate text-center">
	              <h1 class="mb-2">Privacy Search Engine</h1>
	              <p><a href="{% url 'user_login'  %}" class="btn btn-primary">Search Nearby</a></p>
	            </div>

	          </div>
	        </div>
	      </div>
		  <div class="slider-item" style="background-image: url({% static 'images/1.png' %});">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-sm-12 ftco-animate text-center">
	               <h1 class="mb-2">Privacy Search Engine</h1>
	              <p><a href="{% url 'user_login'  %}" class="btn btn-primary">Search Nearby</a></p>
	            </div>

	          </div>
	        </div>
	      </div>
	    </div>
    </section>

    

    <hr>

{% include 'footer.html' %}